body {
    font-family: 'Press Start 2P', cursive;
    font-size: 12pt;
    background-image: url(./img/retro-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {

    color: #ff0080;
    font-size: 22pt;
}

#header {
    position: fixed;
    top: -20px;
    left: 10%;
    z-index: 2;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.wrapper {
    display: flex;
    margin-left: 10%;
    margin-top: 6.5%;
    width: 60%;
    position: relative;
}

.title {
    text-align: center;
    padding: 100px 10px 100px 10px;
    margin: 0 auto;
    background: #8000ff;
    border-radius: 25px;
    border: 5px solid #ffff00;
    margin-right: 20px;
    min-width: 90%;
    position: relative;
}

.container {
    text-align: center;
}

.scorebox {
    float: right;
    padding: 10px;
    background: #8000ff;
    border: 5px solid #ffff00;
    border-radius: 25px;
    height: 200px;
    margin-top: 200px;
}

#startbtn {
    border: none;
    border-radius: 35px;
    padding: 30px 20px 30px 20px;
    font-size: 14pt;
    background: #b038fc;
    color: #000;
    font-family: 'Press Start 2P', cursive;
}
#startbtn:hover {
    cursor: pointer;
    background: url('img/spectrum.gif');
    background-repeat: repeat;
}
#startbtn:active,
#highbtn:active {
    background: #000;
    color: #fff;
}

#jsquizbtn,
#gertiequizbtn {
    border: none;
    border-radius: 20px;
    padding: 20px;
    font-size: 16pt;
    font-family: 'Press Start 2P', cursive;
    color: #000;
    margin-bottom: 20px;
    cursor: pointer;
}

#jsquizbtn {
    background: #eb46d1;
    font-family: 'Press Start 2P', 'Times New Roman', sans-serif;
}

#gertiequizbtn {
    background: #ffff00;
}

#jsquizbtn:hover,
#gertiequizbtn:hover {
    background: url('img/spectrum.gif');
}

#highbtn {
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 10pt;
    font-family: 'Press Start 2P', cursive;
    background: #ffff00;
    color: #000;
    margin-bottom: 20px;
    cursor: pointer;
}

#highscore {
    text-align: center;
}


#rainbow1, 
#rainbow2, 
#rainbow3, 
#rainbow4 {
    border-radius: 35px;
    margin: 0 auto;
}

#rainbow1 {
    border: 20px solid #eb46d1;
    width: 80%;
    background: #eb46d1;
    box-shadow: 0 0 50px #aeff5e;
}

#rainbow2 {
    border: 20px solid #e9d815;
    background: #e9d815;
}

#rainbow3 {
    border: 20px solid #17eec7;
    background: #17eec7;
}

#rainbow4 {
    border: 20px solid #b038fc;
    background: #b038fc;
}

/* here's the styles for things we'll be adding */
#h1El {
    font-size: 14pt;
    font-family: 'Press Start 2P', 'Times New Roman', cursive;
}

.choicebtn {
    width: 95%;
    padding: 10px 0 10px 0;
    color: #fff;
    font-family: 'Press Start 2P', 'Times New Roman', cursive;
    font-size: 14pt;
    text-align: left;
    border: 0px;
    background: none;

}

.choicebtn:hover {
    background: #ff0080;
    color: #000;
    cursor: pointer;
}

.choicebtn:active {
    color: #ff0080;
    background: #000;
}

#restart {
    text-align: center;
    margin-top: 10px;
}

#restart:hover {
    background: url('img/spectrum.gif');
    background-repeat: repeat-x;
    color: #000;
    cursor: pointer;
}

#restart:active {
    background: url('img/spectrum.gif');
    background-repeat: repeat-x;
    color: #fff;
    cursor: pointer;
}


#count {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #ffff00;
}

#score {
    text-align: center;
    color: #ffff00;
    font-size: 12pt;
}

@media only screen and (min-width: 150px) and (max-width: 425px) {
    body {
        background: url('img/retro-mobile.jpg');
        width: 100%;
        background-repeat: repeat-y;
        background-size: cover;
    }

    body, 
    html {
        width: 100%;
        height: 100%;
    } 

    #h1El {
        font-size: 10pt;
        font-family: 'Press Start 2P', 'Times New Roman', cursive;
    }

    .wrapper {
        width: 90%;
        flex-direction: column;
        margin-left: 8.5%;
    }

    .container {
        padding: 0px;
    }

    .container, 
    .title, 
    .scorebox {
        width: auto;
        align-self: center;
    }

    .title {
        padding: 100px 5px 50px 5px;
    }

    .scorebox {
        margin-top: 20px;
        text-align: center;
        height: auto;
    }
    
    #rainbow1 {
        width: auto;
    }

    #header {
        top: 20px;
    }

    .choicebtn, 
    #restart, 
    #highbtn, 
    #startbtn, 
    #jsquizbtn, 
    #cutequizbtn, 
    #count,
    #score {
        font-size: 8pt;
    }

    h1 {
        font-size: 9pt;
    }
}

@media only screen and (min-width: 426px) and (max-width: 767px) {
    body {
        background: url('img/retro-mobile.jpg');
        width: 100%;
        background-repeat: repeat-y;
        background-size: cover;
    }

    body, 
    html {
        width: 100%;
        height: 100%;
    }    

    #rainbow1 {
        width: auto;
    }

    .wrapper {
        flex-direction: column;
        margin-left: 10%;
        text-align: center;
    }
    .title {
        padding: 100px 0 100px 0;
        margin-right: 10px;
        
    }
    .container {
        padding: 10px;
    }
    .scorebox {
        float: none;
        margin-top: 20px;
    }
}