body {
    font-family: 'Press Start 2P', cursive;
    font-size: 16pt;
    background-image: url(./img/retro-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {

    color: #ff0080;
    font-size: 22pt;
}

span {
    color: #ffff00;
}

#header {
    position: fixed;
    top: -20px;
    left: 10%;
    z-index: 2;
}
.wrapper {
    display: flex;
    margin-left: 20%;
    margin-top: 6.5%;
    width: 70%;
}

.title {
    text-align: center;
    padding: 100px 20px 100px 20px;
    margin: 0 auto;
    background: #8000ff;
    border-radius: 25px;
    border: 5px solid #ffff00;
    margin-right: 40px;
    min-width: 70%;
    position: relative;
}

.container {
    text-align: center;
    padding: 20px;
}
.scorebox {
    float: right;
    padding: 20px;
    background: #8000ff;
    border: 5px solid #ffff00;
    border-radius: 25px;
    height: 200px;
}

#startbtn {
    border: none;
    border-radius: 35px;
    padding: 30px 20px 30px 20px;
    font-size: 18pt;
    background: #ee82ee;
    color: #000;
    font-family: 'Press Start 2P', cursive;
}
#startbtn:hover {
    cursor: pointer;
}
#startbtn:active,
#highbtn:active {
    background: #000;
    color: #fff;
}

#highbtn {
    border: none;
    border-radius: 20px;
    padding: 20px;
    font-size: 16pt;
    font-family: 'Press Start 2P', cursive;
    background: #ffff00;
    color: #000;
    margin-bottom: 20px;
}

#highscore {
    text-align: center;
}


#red, 
#orange, 
#yellow, 
#green, 
#blue, 
#indigo, 
#violet {
    border-radius: 35px;
    margin: 0 auto;
}

#red {
    border: 20px solid red;
    width: 550px;
    background: red;
    box-shadow: 0 0 5px #000;
}

#orange {
    border: 20px solid orange;
    background: orange;
}

#yellow {
    border: 20px solid yellow;
    background: yellow;
}

#green {
    border: 20px solid green;
    background: green;
}

#blue {
    border: 20px solid blue;
    background: blue;
}

#indigo {
    border: 20px solid indigo;
    background: indigo;
}

#violet {
    border: 20px solid violet;
    background: violet;
}
/* here's the styles for things we'll be adding */

#adiv1, 
#adiv2, 
#adiv3, 
#adiv4, 
#restartdiv {
    width: 95%;
    padding: 10px;
    color: #fff;
    font-family: 'Press Start 2P', 'Times New Roman', cursive;
    margin-left: 20px;
    text-align: left;
}

#restartdiv {
    text-align: center;
    margin: 0px;
}

#adiv1:hover, 
#adiv2:hover, 
#adiv3:hover, 
#adiv4:hover, 
#restartdiv:hover {
    background: #ff0080;
    color: #000;
    cursor: pointer;
}

#adiv1:active, 
#adiv2:active, 
#adiv3:active, 
#adiv4:active, 
#restartdiv:active {
    color: #ff0080;
    background: #000;
}

#countdiv {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #ffff00;
}

#scorediv {
    text-align: center;
    color: #ffff00;
    font-size: 14pt;
}