body {
    font-family: 'Press Start 2P', cursive;
    font-size: 16pt;
    background-image: url(./img/retro-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {

    color: #ff0080;
    font-size: 22pt;
}

span {
    color: #ffff00;
}

#header {
    position: fixed;
    top: -20px;
    left: 10%;
    z-index: 2;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.wrapper {
    display: flex;
    margin-left: 10%;
    margin-top: 6.5%;
    width: 70%;
    position: relative;
}

.title {
    text-align: center;
    padding: 100px 20px 100px 20px;
    margin: 0 auto;
    background: #8000ff;
    border-radius: 25px;
    border: 5px solid #ffff00;
    margin-right: 20px;
    min-width: 70%;
    position: relative;
}

.container {
    text-align: center;
    padding: 20px;
}
.scorebox {
    float: right;
    padding: 20px;
    background: #8000ff;
    border: 5px solid #ffff00;
    border-radius: 25px;
    height: 200px;
    margin-top: 200px;
}

#startbtn {
    border: none;
    border-radius: 35px;
    padding: 30px 20px 30px 20px;
    font-size: 18pt;
    background: #b038fc;
    color: #000;
    font-family: 'Press Start 2P', cursive;
}
#startbtn:hover {
    cursor: pointer;
    background: url('img/spectrum.gif');
    background-repeat: repeat;
}
#startbtn:active,
#highbtn:active {
    background: #000;
    color: #fff;
}

#jsquizbnt,
#cutequizbtn {
    border: none;
    border-radius: 20px;
    padding: 20px;
    font-size: 16pt;
    font-family: 'Press Start 2P', cursive;
    color: #000;
    margin-bottom: 20px;
    cursor: pointer;
}

#jsquizbtn {
    background: #eb46d1;
}

#cutequizbtn {
    background: #ffff00;
}

#jsquizbnt:hover,
#cutequizbtn:hover {
    background: url('images/spectrum.gif');
}

#highbtn {
    border: none;
    border-radius: 20px;
    padding: 20px;
    font-size: 16pt;
    font-family: 'Press Start 2P', cursive;
    background: #ffff00;
    color: #000;
    margin-bottom: 20px;
    cursor: pointer;
}

#highscore {
    text-align: center;
}


#red, 
#orange, 
#yellow, 
#green {
    border-radius: 35px;
    margin: 0 auto;
}

#red {
    border: 20px solid #eb46d1;
    width: 90%;
    background: #eb46d1;
    box-shadow: 0 0 5px #000;
}

#orange {
    border: 20px solid #e9d815;
    background: #e9d815;
}

#yellow {
    border: 20px solid #17eec7;
    background: #17eec7;
}

#green {
    border: 20px solid #b038fc;
    background: #b038fc;
}

/* here's the styles for things we'll be adding */

#adiv1, 
#adiv2, 
#adiv3, 
#adiv4, 
#restartdiv {
    width: 95%;
    padding: 10px;
    color: #fff;
    font-family: 'Press Start 2P', 'Times New Roman', cursive;
    margin-left: 20px;
    text-align: left;
}

#restartdiv {
    text-align: center;
    margin: 0px;
}

#restartdiv:hover {
    background: url('img/spectrum.gif');
    background-repeat: repeat-x;
    color: #000;
    cursor: pointer;
}

#restartdiv:active {
    background: url('img/spectrum.gif');
    background-repeat: repeat-x;
    color: #fff;
    cursor: pointer;
}

#adiv1:hover, 
#adiv2:hover, 
#adiv3:hover, 
#adiv4:hover {
    background: #ff0080;
    color: #000;
    cursor: pointer;
}

#adiv1:active, 
#adiv2:active, 
#adiv3:active, 
#adiv4:active {
    color: #ff0080;
    background: #000;
}

#countdiv {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #ffff00;
}

#scorediv {
    text-align: center;
    color: #ffff00;
    font-size: 14pt;
}
/* @media only screen and (min-width: 768px){

} */

@media only screen and (min-width: 150px) and (max-width: 425px) {
    body {
        background: url('img/retro-mobile.jpg');
        width: 100%;
        background-repeat: repeat-y;
        background-size: cover;
    }

    body, 
    html {
        width: 100%;
        height: 100%;
    } 

    .wrapper {
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .container, 
    .title, 
    .scorebox {
        width: auto;
    }

    .scorebox {
        margin-top: 20px;
        text-align: center;
    }
    
    #red {
        width: 90%;
    }

    #adiv1, 
    #adiv2, 
    #adiv3, 
    #adiv4, 
    #restartdiv, 
    #highbtn, 
    #startbtn, 
    #jsquizbtn, 
    #cutequizbtn, 
    h1 {
        font-size: 12pt;
    }
}

@media only screen and (min-width: 426px) and (max-width: 767px) {
    body {
        background: url('img/retro-mobile.jpg');
        width: 100%;
        background-repeat: repeat-y;
        background-size: cover;
    }

    body, 
    html {
        width: 100%;
        height: 100%;
    }    

    #red {
        width: 90%;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        text-align: center;
    }
    .title {
        padding: 100px 0 100px 0;
        margin-right: 10px;
        
    }
    .container {
        padding: 10px;
    }
    .scorebox {
        float: none;
        margin-top: 20px;
    }
}

/* 
@media only screen and (max-width: 424px) {
    #red {
        width: 90%;
    }

    .wrapper {
        width: 95%;
    }
    .title {
        padding: 200px 0 100px 0;
        margin-right: 10px;
        width: 90%;
    }
    .container {
        padding: 10px;
        width: 100%;
        float: left;
    }

} */